body {
    background-color: beige;
    font-family: sans-serif;
    font-size: 24px;
    padding: 40px;
}

fieldset {
    padding: 50px;
}

.hint {
    color: darkblue;
    font-size: 16px;
    padding-left: 20px;
}

